<%= render "form", status: @status %>

<% if @statuses.any? %>
  <% @statuses.each do |status| %>
    <div>
      <p> <%= status.text %> - DND: <%= status.do_not_disturb %> </p>
    </div>
  <% end %>
<% else %>
  <p> No statuses </p>
<% end %>
